=layout-classes
  #{$deck-container} .slide .content
    +outer-container

    @media #{$xga-up}
      padding-left: $side-margin
      padding-right: $side-margin

      ul, ol
        padding-left: 2rem

        &.inline
          list-style: none

          li
            display: inline-block
            margin-right: 2rem

      @each $tag in p, ol, ul
        @media #{$xga-up}
          #{$tag}.small
            font-size: $slide-font-size-small

          #{$tag}.large
            font-size: $slide-font-size-large

      .right
        text-align: right

      .full
        +span-columns(12)

        &.center
          text-align: center

      .half
        +span-columns(6)

        &.center
          +shift(3)

      .one-third
        +span-columns(4)

        &.center
          +shift(4)

      .two-thirds
        +span-columns(8)

        &.center
          +shift(2)

      .one-forth
        +span-columns(3)

      .three-forths
        +span-columns(9)

      .omega
        +omega
