//
// Deck Style
//

body
  font-size: $em-base
  background-color: $background-color

a
  text-decoration: none
  color: $anchor-color

  &:hover
    color: $anchor-color-hover

button
  +material-button

article.deck-container
  font-family: $slide-font-mobile
  background-color: $background-color
  color: $slide-color

  @media #{$xga}
    font-family: $slide-font

  h1, h2, h3, h4, h5, h6
    font-family: $header-font
    font-weight: $header-font-weight

  h1
    top: 30vh
    font-size: 2rem
    color: $deck-title-color

    @media #{$xga}
      font-size: 4rem

  h2
    position: relative
    padding-left: rem(5)
    padding-top: initial
    background-color: $slide-title-background
    border: none
    +slide-title-style
    +shadow-level(1)

    @media #{$xga}
      font-size: 3.5rem

    &::after
      display: none

      @media #{$xga}
        display: inline
        position: absolute
        bottom: rem(5)
        right: $side-margin
        font-size: 3rem

  header.slide
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    h1
      position: initial
      align-self: flex-start

    ul.authors
      margin: 0
      text-align: center
      list-style-type: none
      font-family: $author-font
      font-weight: $author-font-weight
      color: $author-color

      li
        padding: 0

      a
        color: $author-color

      .author
        font-size: 2rem

        @media #{$xga}
          font-size: 4rem

      .connector
        font-size: 1.5rem

      .coauthor
        font-size: 2rem

        @media #{$xga}
          font-size: 2.5rem

    .url
      display: none

      @media #{$xga}
        display: block
        position: absolute
        bottom: $bottom-margin
        left: $side-margin

        .short_url
          display: block
          font-family: $header-font
          font-size: 4rem
          font-weight: $header-font-weight

        @if $qrcode
          .qrcode
            width: $qrcode-container-size
            height: $qrcode-container-size
            +retina-image('qr', $qrcode-size $qrcode-size, $asset-pipeline: true)
            background-size: $qrcode-size $qrcode-size
            background-position: center
            background-repeat: no-repeat
            border-radius: rem(10)
            +shadow-level(2)

    .logos
      display: flex
      position: absolute
      bottom: $bottom-margin
      width: 100vh
      justify-content: center

      @media #{$xga}
        right: $side-margin
        width: auto

    @each $logo, $info in $logos
      .logo-#{$logo}
        +logo($info...)

//
// Deck UI
//

.deck-status
  position: absolute
  top: rem(2)
  right: $side-margin + rem(35)
  z-index: 50
  +slide-title-style

  @media #{$xga}
    top: initial
    right: $side-margin
    bottom: $bottom-margin
    color: $slide-color

.notes-link
  position: absolute
  top: rem(4)
  right: $side-margin
  z-index: 50
  +vector-img("#{$image-path}/ic_description_48px-white.svg", 25px)

  @media #{$xga}
    top: initial
    left: $side-margin
    bottom: $bottom-margin
    background-image: image-url('material-design-icons/action/svg/production/ic_description_48px.svg', 30px)
