//
// Color Palette
//

$primary-palette: Indigo !default
$accent-palette: Pink !default

$primary-shade: 500 !default
$accent-shade: 500 !default

@function color($shade: $primary-shade)
  @return palette($primary-palette, $shade)

@function accent($shade: $accent-shade)
  @return palette($accent-palette, $shade)

@function black($shade: 500)
  @return palette(Black, $shade)

@function white($shade: 500)
  @return palette(White, $shade)

//
// Fonts
//

$font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif !default
$font-open_sans: "Open Sans", $font-family !default
$font-roboto: "Roboto", $font-family !default

//
// Style
//

$background-color: color(50) !default
$anchor-color: color() !default
$anchor-color-hover: accent() !default
$loader-color: accent() !default

$header-font: $font-roboto !default
$header-font-weight: 300 !default

$slide-color: black() !default
$slide-font: $font-roboto !default
$slide-font-xga: $font-open_sans !default
$slide-font-size: 1.5rem !default
$slide-font-size-small: (2 / 3) * $slide-font-size !default
$slide-font-size-large: 2 * $slide-font-size !default

$slide-title-background: color() !default
$slide-title-color: white() !default
$slide-title-font-size: 3.5rem !default

$content-padding: 0.5rem !default
$side-margin: 1rem !default
$bottom-margin: rem(30) !default

$deck-title-color: black() !default
$deck-title-font-size: 2rem !default
$deck-title-font-size-xga: 4rem !default

$author-color: black() !default
$author-font: $header-font !default
$author-font-weight: $header-font-weight !default
$author-font-size: $deck-title-font-size !default
$author-font-size-xga: $deck-title-font-size-xga !default

$coauthor-font-size: $author-font-size !default
$coauthor-font-size-xga: (5 / 8) * $author-font-size-xga !default

$colophon-font-size: 1.5rem !default

$figure-padding: 1rem !default
$figure-shadow: 2 !default
$figure-border-radius: rem(5) !default

$qrcode: false !default
$qrcode-size: 270px !default
$qrcode-container-size: $qrcode-size - 10px !default

//
// Includes
//

$include-layout-classes: true !default
$include-header-footer-style: true !default

//
// Media Queries
//

$small-range: (0, 40em - 0.375em) !default
$medium-range: (40em, 64em - 0.375em) !default
$xga-range: (64em, 80em - 0.375em) !default
$wxga-range: (80em, 120em - 0.375em) !default
$hd-range: (120em, 99999999em) !default

$screen: 'only screen' !default

$landscape: "#{$screen} and (orientation: landscape)" !default
$portrait: "#{$screen} and (orientation: portrait)" !default

$small-up: $screen !default
$small-only: "#{$screen} and (max-width: #{nth($small-range, 1)})" !default

$medium-up: "#{$screen} and (min-width:#{nth($medium-range, 1)})" !default
$medium-only: "#{$screen} and (min-width:#{nth($medium-range, 1)}) and (max-width:#{nth($medium-range, 2)})" !default

$xga-up: "#{$screen} and (min-width:#{nth($xga-range, 1)})" !default
$xga-only: "#{$screen} and (min-width:#{nth($xga-range, 1)}) and (max-width:#{nth($xga-range, 2)})" !default

$wxga-up: "#{$screen} and (min-width:#{nth($wxga-range, 1)})" !default
$wxga-only: "#{$screen} and (min-width:#{nth($wxga-range, 1)}) and (max-width:#{nth($wxga-range, 2)})" !default

$hd-up: "#{$screen} and (min-width:#{nth($hd-range, 1)})" !default
$hd-only: "#{$screen} and (min-width:#{nth($hd-range, 1)}) and (max-width:#{nth($hd-range, 2)})" !default

//
// Selectors
//

$deck-container: 'article.deck-container' !default
$deck-header: 'header.slide' !default
$deck-footer: 'footer.slide' !default

//
// Utility
//

$image-path: 'deck.js-material/images' !default
$logos: () !default

//
// Convenience Mixins
//

=background-color
  background-color: $background-color

=loader-color
  stroke: $loader-color
